<h1 class="text-center my-3">請修改你的支出</h1>
<span class="text-danger"><small>*請填寫所有欄位</small></span>
<form action="/records" method="post">
  <!-- 名稱 -->
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">名稱 : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" id="name" placeholder="再買就剁手" value={{record.name}} required>
    </div>
  </div>
  <!-- 日期 -->
  <div class="form-group row">
    <label for="date" class="col-sm-2 col-form-label">日期 : </label>
    <div class="col-sm-10">
      <input type="date" class="form-control" name="date" id="date" placeholder="請輸入消費時間" value={{record.date}}
        required>
    </div>
  </div>
  <!-- 類別 -->
  <div class="form-group row">
    <label for="category" class="col-sm-2 col-form-label">類別 : </label>
    <div class="col-sm-10">
      <input list="categories" class="form-control" name="category" id="category" value="{{categorySelect}}" required>
      <datalist id="categories">
        {{#each categories}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </datalist>
    </div>
  </div>
  <!-- 金額 -->
  <div class="form-group row">
    <label for="amount" class="col-sm-2 col-form-label">金額 : </label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="amount" id="amount" placeholder="請輸入支出金額" value={{record.amount}}
        required>
    </div>
  </div>
  <!-- 備註 -->
  <div class="form-group row">
    <label for="note" class="col-sm-2 col-form-label">備註 : </label>
    <div class="col-sm-10">
      <textarea id="note" name="note" class="form-control" rows="3" required>{{record.note}}</textarea>
    </div>
  </div>

  <div class="form-group d-flex justify-content-end">
    <button type="submit" class="col-sm-10 btn btn-primary">送出</button>
  </div>
</form>